.swiper {
  width: fit-content;
  height: 100%;
  display: flex;
  padding: 2.625rem;
}

.swiper-slide {
  display: flex;
  gap: 4rem;
  justify-content: center;
  align-items: center;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}