@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: "Oxanium", sans-serif;
}

body {
  background-color: #171A1B;
  color: white;
}

h1,
h2,
h3 {
  color: #FFC83B;
  font-weight: 600;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  outline: none;
  border-radius: .75rem;
}

img {
  max-width: 100%;
  height: auto;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #171A1B;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5E5C58;
  border-radius: .1875rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@layer components {
  .nav-item {
    @apply py-5 px-[1.6875rem] border-r-[.0313rem] border-slate-gray border-opacity-0 cursor-pointer;
  }

  .section {
    @apply h-full w-full overflow-hidden;
  }

  .work-card {
    @apply w-[28.5rem] border-thin border-slate-gray border-opacity-60 bg-secondary rounded-xl p-4 transition-all ease-in-out hover:border-primary-yellow hover:scale-[1.01];
  }

  .thumbnail-placeholder {
    @apply w-full h-[15rem] rounded-t-xl;
  }

  .vertical-text {
    writing-mode: vertical-rl;
    text-orientation: upright;
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

}

@layer utilities {
  /* .padding {
    @apply sm:px-16 px-8 sm:py-24 py-12;
  }

  .padding-x {
    @apply sm:px-16 px-8;
  }

  .padding-y {
    @apply sm:py-24 py-12;
  }

  .padding-l {
    @apply sm:pl-16 pl-8;
  }

  .padding-r {
    @apply sm:pr-16 pr-8;
  }

  .padding-t {
    @apply sm:pt-24 pt-12;
  }

  .padding-b {
    @apply sm:pb-24 pb-12;
  }

  .info-text {
    @apply font-montserrat text-slate-gray text-lg leading-7;
  } */
}